<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=Prod.name%></title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/adminNavbar.css" />
    <link rel="stylesheet" href="/css/adminPanel.css" />
    <script
      src="https://kit.fontawesome.com/9d779ebc01.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="flex container flexStart">
      <%- include('../includes/admin-nav.ejs') %>
      <main class="dashboard">
        <section class="restaurantDetail">
          <main class="RestaurantMain">
            <!-- <img src="../images/fine.png" alt="" /> -->
            <h1><%=Prod.name%></h1>
          </main>

          <div>
            <h3>Rating:</h3>
            <p><%=Prod.rating%></p>
          </div>

          <div>
            <h3>Price:</h3>
            <p><%=Prod.price%></p>
          </div>
          <div>
            <h3>Quantity:</h3>
            <p><%=Prod.quantity%></p>
          </div>

          <div>
            <h3>Category:</h3>
            <p><%=Prod.category%></p>
          </div>

          <br />
          <div class="extra">
            <h3>Description:</h3>
            <p><%=Prod.description%></p>
          </div>

          <div class="restaurantImages">
            <% for (let i = 0; i < Prod.imageUrl.length; i++) { %> <% if
            (Prod?.imageUrl[i]?.includes("uploads")) { %>
            <img src="/<%= Prod.imageUrl[i] %>" alt="" />
            <% } else { %>
            <img src="<%= Prod.imageUrl[i] %>" alt="" />
            <% } %> <% } %>
          </div>
        </section>
      </main>
    </section>
  </body>
</html>
